/* iframe height: 70vh */

.Bold {
    color: #17193F;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter', sans-serif !important;
}

.Bold + span {
    color: #4E546D;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Inter', sans-serif !important;
}

.Bold + span ~ div {
    color: #4E546D;
    font-size: 16px;
    font-family: 'Inter', sans-serif !important;
}

.img-circle {
    display: none;
}

.ui-float-label label {
    color: #4E546D;
    font-size: 16px;
    font-family: 'Inter', sans-serif !important;

}

.ControlFixLabel label:nth-child(2), .ControlFixLabel label:nth-child(3) {
    color: #17193F;
    font-size: 16px !important;
    font-family: 'Inter', sans-serif !important;
}

.ControlFixLabel label:nth-child(1) {
    color: #17193F;
    font-size: 16px !important;
    font-weight: 700;
    font-family: 'Inter', sans-serif !important;

}

.sign-custom-button-height {
    background-color: #627DE7;
}

.sign-custom-button-height  ~ .sign-custom-button-height {
    background-color: transparent
}

.account-logo img {
    content:url("https://uploads-ssl.webflow.com/5e96aad0e521f96824e461e8/5e97f83957a3713f4bce87fa_virtucare_logo_color.svg") !important;
    width: auto !important;
}