/* iframe height: 70vh */

.ControlFixLabel label {
    color: #17193F;
    font-size: 16px !important;
    font-family: 'Inter', sans-serif !important;
}

.ControlFixLabel .label {
    color: #4E546D !important;
}

.float-user label {
    color: #4E546D;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.btn-primary {
    background: #627DE7;
    font-size: 20px;
}

.forgot-password {
    color: #627DE7;
    float: initial;
    font-size: 20px;
}

.account-content p {
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.float-user input {
    border-color: #CED4DA !important;
}

.account-logo img {
    content:url("https://uploads-ssl.webflow.com/5e96aad0e521f96824e461e8/5e97f83957a3713f4bce87fa_virtucare_logo_color.svg") !important;
    width: auto !important;
}