body {
    height: auto;
}

select {
 font-family: 'Inter';
}

.appt-topbar>div {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1) !important;
}

.appt-practitioner-item {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1) !important;
}

.appt-slot-btn {
    background-color:  #05CEB6;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 12px;
}

.appt-slot-btn:hover {
    background-color: #627DE7;
}

.appt-slot-head-colsel, .appt-slot-head-col:hover {
    background-color: #F3F3F3;
}

.appt-slot-content {
    padding: 10px 0;
}

.f-size-day {
    color: #17193F;
    font-size: 16px !important;
    font-family: 'Inter', sans-serif;
}

.f-size-date {
    color: #4E546D;
    font-size: 16px !important;
    font-family: 'Inter', sans-serif;
}


.appt-practitioner-detail h3 b {
    color: #17193F;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.appt-practitioner-detail div {
    color: #17193F;
    font-size: 16px !important;
    font-family: 'Inter', sans-serif;
}

.appt-practitioner-detail div span {
    color: #17193F;
    font-size: 16px !important;
    font-family: 'Inter', sans-serif;
}

.appt-icon-loc + span {
    color: #17193F;
    font-size: 16px !important;
    font-family: 'Inter', sans-serif;
}

.fa-phone span a {
    color: #627DE7 !important;
    font-size: 16px !important;
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
}

.profile-image {
    border: .2vw solid #627DE7 !important;
}

.appt-icon-right-ancher {
    background-image: url('https://uploads-ssl.webflow.com/5e96aad0e521f96824e461e8/5f06c5bb186ec80ba4638bee_appt-icon-left-ancher.svg');
}
.appt-icon-left-ancher {
    background-image: url('https://uploads-ssl.webflow.com/5e96aad0e521f96824e461e8/5f06c5b37e08421222373cb9_appt-icon-right-ancher.svg');
}
